
/.idea/misc.xml
/.idea/Structure_Func_Recognition.iml
/data/labeled_data
/data/partData.txt
/.idea/
/runs-rnn/
/tensorboard_dir/
/log/
/checkpoints/
/runs/
/data/paragraph1000
/data/header1000.txt
/data/header3000.txt
/data/labeled_data_part
/data/paragraph3000
/data/paragrahp3000
/data/dataloader.py
