
/.idea/misc.xml
/.idea/Structure_Func_Recognition.iml
/data/labeled_data
/data/partData.txt
/.idea/
/runs-rnn/
/tensorboard_dir/
/log/
/checkpoints/
/runs/
/data/paragraph1000
/data/header1000.txt
/data/header3000.txt
/data/labeled_data_part
/data/paragraph3000
/data/paragrahp3000
/data/header500
/data/header3500
/data/paragrahp3500
/data/paragraph500
/data/header1000
/data/header3000
/data/section3500
/data/section500
/data/cs.para.labelled.resampled
/data/labelled.part
/data/paragraph3500
/data/header
/data/paragraph
/data/section
/data/test_para
/SVM/
/model_DT/
